# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Firebase Admin SDK (CRITICAL - NEVER COMMIT!)
*-firebase-adminsdk-*.json

# Google Service-Info.plist  (CRITICAL - NEVER COMMIT!)
GoogleService-Info.plist

# Personal docs  (CRITICAL - NEVER COMMIT!)
docs/

# Temporary files
*.tmp
*.log
prod.txt

# IDE
.vscode/
.idea/
*.swp
*.swo